@import './normalize';

// Base & Layout
body {
  color: #00234B;
  font-size: 16px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#app {
  background-color: #F3F3F4;
  min-height: 100vh;
}

.page {
  padding: 24px;
}

// Typography
h1, h2, h3, p {
  margin: 0;
}

h1, h2 {
  font-weight: 500;
}

h3 {
  font-weight: 400;
  font-size: 1.4rem;
}

p {
  font-weight: 300;
}

a {
  color: #00234B;
  text-decoration: none;
}

.headline {
  font-size: 2rem;
  margin-bottom: 16px;
}

// Header
header {
  background-color: #FFF04B;
  padding-left: 24px;
  padding-right: 24px;
  min-height: 64px;
  display: flex;
  align-items: center;
}

// Lists
.list {
  background-color: #fff;
  border-radius: 2px;
  list-style-type: none;
  max-width: 900px;
  padding: 0;
}

.list-item {
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding: 12px 16px;
  display: flex;
  align-items: center;

  &:hover {
    background-color: #FFECF1;
  }
}

.list-item__rank {
  font-size: 2rem;
  margin-right: 12px;
}

// Helper classes
.shadow {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.card {
  @extend .shadow;

  background-color: #fff;
  border-radius: 2px;
  padding: 24px;
}