@import './normalize';
@import '~react-select/dist/react-select.css';

// Base & Layout
body {
  background-color: #F3F3F4;
  color: #00234B;
  font-size: 16px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.page {
  padding: 24px;
}

img {
  width: 100%;
}

// Typography
h1, h2, h3, p {
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-weight: 500;
}

h3 {
  font-size: 1.4rem;
  font-weight: 400;
}

p {
  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: 4px;
}

a {
  color: #00234B;
  text-decoration: none;
}

.headline {
  margin-bottom: 16px;
  text-align: center;
}

// Buttons
.button {
  background: transparent;
  color: #00234B;
  cursor: pointer;
  display: block;
  border: 1px solid #00234B;
  padding: 12px 20px;
  border-radius: 0;
  margin: 16px auto;
  outline: none;

  &:hover {
    background-color: #00234B;
    color: white;
  }
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin: 16px auto;

  .button {
    margin: 0 5px;
  }
}

// Forms
input {
  outline: none;
  padding: 12px;
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
}

// Header
header {
  background-color: #FFF04B;
  padding-left: 24px;
  padding-right: 24px;
  min-height: 64px;
  display: flex;
  align-items: center;
}

// Lists
.list {
  background-color: #fff;
  border-radius: 2px;
  list-style-type: none;
  max-width: 960px;
  padding: 0;
  margin: 0 auto;
}

.list-item {
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding: 12px 16px;
  display: flex;
  align-items: center;

  &:hover {
    background-color: #FFECF1;
  }
}

.list-item__rank {
  font-size: 2rem;
  margin-right: 12px;
  text-align: center;
  width: 40px;
}

// Filter Tool
.filter-tool {
  margin-bottom: 16px;

  .Select {
    margin: 8px auto;
    max-width: 600px;
  }
}

// Helper classes
.shadow {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.card {
  @extend .shadow;
  background-color: #fff;
  border-radius: 2px;
  padding: 24px;
}

// Cards
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 960px;
  margin: 0 auto;

  .movie-card {
    @extend .card;
    margin-bottom: 16px;
    padding: 0;
    width: 100%;

    @media (min-width: 768px) {
      width: 30%;
    }

    &__body {
      padding: 12px;
    }

    h3 {
      font-size: 1rem;
      margin-bottom: 4px;
    }
  }
}

// Movie Page Card
.movie-page__card {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;

  @media (min-width: 768px) {
    flex-wrap: nowrap;
  }

  img {
    height: 100%;
  }

  .movie-page__body {
    padding-left: 20px;
    padding-top: 12px;

    p {
      margin-bottom: 12px;
    }

    h2 {
      margin-bottom: 16px;
    }

    .button {
      display: inline-block;
    }
  }
}